.btn {
  width: 23rem;
  height: 5.7rem;
  border: 0;
  border-radius: 500px;
  background-image: linear-gradient(
    to bottom right,
    $color-secondary,
    $color-primary
  );
  color: $color-white;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.3);
  cursor: pointer;

  &:focus,
  &:hover {
    background-image: linear-gradient(
      to bottom right,
      lighten($color-secondary, 5%),
      lighten($color-primary, 5%)
    );
    box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.3);
  }
}
