//Location

.location {
  position: relative;
  box-sizing: content-box;
  width: 100vw;
  height: 5rem;
  border-top: 4px solid transparent;
  border-image: linear-gradient(
      to bottom,
      darken($color-section, 15%) 20%,
      $color-section
    )
    40;
  background-color: darken($color-section, 4.6%);

  &__container {
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
  }
}

.fa-map-marker-alt {
  margin-right: 1rem;
}

// Explore

.explore {
  height: 30rem;
  background-color: $color-section;
  text-align: center;
  padding-top: 4rem;

  &__header {
    margin-bottom: 4rem;
  }

  &__subheader {
    margin-left: 3.6rem;
    margin-right: 2rem;
    margin-bottom: 4rem;
    font-weight: 100;
  }
}

// Explanation

.explanation {
  padding-top: 4rem;
  padding-left: 2rem;
  padding-bottom: 3rem;

  &__header {
    margin-bottom: 2rem;
  }

  &__container {
    width: 88vw;
    height: 8rem;
    border: 0;
    border-radius: 20px;
    background-color: $color-section;
    margin-bottom: 3rem;
    margin-left: 0.8rem;
    display: flex;
    align-items: center;
    position: relative;
    @include box-shaddow;

    & span {
      position: absolute;
      left: -1rem;
      border: 0;
      border-radius: 50%;
      background-color: $color-primary;
      color: $color-white;
      width: 2.5rem;
      height: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.4rem;
    }

    & .fas {
      margin-left: 4rem;
      margin-right: 3rem;
      font-size: 2rem;
    }

    .fa-mobile-alt,
    .fa-tasks {
      color: gray;
    }

    .fa-store {
      color: $color-primary;
    }

    & p {
      font-weight: bold;
    }
  }
}

// Restaurant

.restaurant {
  background-color: $color-section;
  padding-top: 5rem;
  padding-bottom: 5rem;

  & > h2 {
    margin-bottom: 3rem;
    margin-left: 2rem;
  }

  &__card {
    height: 35vh;
    width: 90vw;
    margin: 0 auto;
    margin-bottom: 2rem;
    // padding-bottom: 1.25rem;
    border: 0;
    border-radius: 25px;
    background: $color-white;
    position: relative;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  }

  &__link {
    display: flex;
    flex-flow: column;
    height: inherit;

    & > img {
      max-width: 100%;
      // height: 28vh;
      height: 70%;
      object-fit: cover;
      border-radius: 25px 25px 0 0;
    }
  }

  &__description {
    height: 30%;
    margin-left: 0.3125rem;
    padding-top: 1.5rem;
    padding-left: 1rem;
    position: relative;

    & h3 {
      margin-bottom: 0.6rem;
    }

    & span {
      position: absolute;
      right: 1.8rem;
      top: 2.1rem;
      font-size: 2.4rem;
    }
  }

  &__new {
    position: absolute;
    top: 1.3rem;
    right: 1.9rem;
    border: 0;
    background-color: $color-tertiary;
    width: 8rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    & span {
      color: darken($color-tertiary, 45%);
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .explanation {
    padding-left: 1rem;

    &__header {
      margin-left: 0.9rem;
      margin-bottom: 3rem;
    }

    &__outercontainer {
      display: flex;
      flex-direction: row;
    }

    &__container {
      width: 23rem;
      height: 7rem;

      &:not(:last-child) {
        margin-right: 1.5rem;
      }

      & .fas {
        margin-left: 3rem;
        margin-right: 2rem;
      }
    }
  }

  .restaurant {
    &__container {
      display: flex;
      flex-wrap: wrap;
    }

    & h2 {
      margin-left: 1.5rem;
    }

    &__card {
      width: 35rem;
      height: 27rem;
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1347px) {
  .explanation {
    &__outercontainer {
      display: flex;
      flex-direction: row;
    }

    &__container {
      width: 29.5rem;

      &:not(:last-child) {
        margin-right: 3rem;
      }
    }
  }

  .restaurant {
    &__container {
      display: flex;
      flex-wrap: wrap;
    }

    &__card {
      width: 29rem;
      height: 27rem;

      &:not(:last-child) {
        margin-bottom: 5rem;
      }

      &:last-child {
        margin-left: 2.5rem;
      }
    }
  }
}

@media screen and (min-width: 1348px) {
  .restaurant {
    &__container {
      display: flex;
      flex-wrap: wrap;
    }

    &__card {
      width: 30rem;
    }
  }
}
